.transactionHistory {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.transactionHistory th,
.transactionHistory td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.transactionHistory th {
    background-color: #1e1e1e;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.transactionHistory tr:nth-child(even) {
    background-color: #f2f2f2;
}

.transactionHistory tr:hover {
    background-color: #e6f7ff;
}

.transactionHistory td {
    color: #555;
    font-size: 14px;
    text-transform: capitalize;
}